.top-Navbar{
    display: flex;
    justify-content: space-between;
    background-color: white;
    height: 80px;
    width: 100%;
    z-index: 1001;
    position: fixed;
    top:0; 
    /* border-bottom: 1px solid #2acb52; */
    box-shadow: 0 5px 25px -2px rgba(0 0 0 /6%);
}
.top-Navbar-headings{
    display: flex;
    justify-content:space-evenly;
    align-items: center;
}
.logoImg{
    display: flex;
    justify-content: center;
    margin: auto;
    object-fit: cover;
}
.logo{
    width: 170px;
    height: auto;
    padding-left: 40px;
}
.top-Navbar .headings {
    margin: 2vw;
    color: #023964;
    font-weight: 625;
    padding: 10px;
    transition: 0.2s;
    cursor: pointer;
}
.top-Navbar a{
    text-decoration: none;
}
.headings:hover{
    background-color: rgb(226, 226, 226);
    border-bottom: 2px solid #24a845;
}
.green-button1{
    background-color: #24a845;
    padding: 10px 20px;
    color: white;
    border:0px;
    margin-top: -5px;
    font-weight: 625;
    margin-right: 30px;
    transition: 0.5s;
    /* position:absolute;
    right:2vw;
    top: 25px; */
}
.green-button1:hover{
   color:#24a845;
   background-color: white;
   border-top: 1px solid #24a845;
   border-bottom: 1px solid #24a845;
}
.toggle-nav{
    display: none;
}
@media screen and (max-width:975px) {
    .toggle-nav{
       display:flex;
       background-color: inherit;
    }
    .top-Navbar .toggle-nav button{
        border: none;
        color: #24a845;
        font-size: 20px;
        background-color: white;
        padding-right: 40px;
    }
    .top-Navbar-headings {
        position: fixed;
        background-color: aliceblue;
        width:100%;
        top:80px;
    }
    .top-Navbar-headings.show{
        display: block;
    }
    .top-Navbar-headings.hide{
        display: none;
    }
    /* .top-Navbar-headings.off{
        top:-200px;
    }
    .top-Navbar-headings.on{
        top:80px;
    } */

    .top-Navbar-headings .headings{
       width:100%;
       margin: 0;
    }
    .green-button1{
        border:0;
        margin:auto;
        width: 100%;
    }
}
@media screen and (max-width:600px){
    .logo{
        top: -5px;
        position: relative;
        padding-left: 10px;
    }
    .logo {
        height: 110px;
    }
    .top-Navbar .toggle-nav button {
        padding-right:20px;
    }
}