.fStory{
    padding-top: 30px;
    padding-bottom: 30px;
}
.green-button{
    background-color: #24a845;
    padding: 10px;
    color: white;
    border:0px;
    margin-top: 5px;
    font-weight: 625;
}
.Impact_story-class{
    display: flex;
    justify-content: space-around;
    padding: 15px 40px;
}
.is-img{
    max-width: 40%;
    /* height:100%; */
    justify-content: center;
    margin: auto;
    background-color: #2abc4e;
}
.is-img img{
    width: 100%;
    object-fit:fill;
}
.IS-text{
   text-align: left;
   width:55%;
}
.IS-text b{
    color: #24a845;
}
.Istory{
    /* color:rgb(2 57 100);
    font-size: 30px;
    font-weight: 600; */

    font-family: sarabun,sans-serif;
    font-weight: 800;
    letter-spacing: 0;
    font-size: 39px;
    line-height: 48px;
    margin-top: 15px;
    margin-bottom: 5px;
    color: #023964;
    text-transform: uppercase;
}
.green-text{
    font-weight: 700;
    letter-spacing: 0;
    font-size: 24px;
    line-height: 26px;
    margin-bottom: -5px;
    color: #86c540;
    line-height: 2;
}
.gray{
    color: gray;
    line-height: 2;
}
@media screen and (max-width: 900px) {
   .Impact_story-class{
    display: block;
   }
   .IS-text{
    text-align: center;
    width: 90%;
    margin: 15px auto;
   }
   .is-img {
       max-width: 85%;
       border-radius:5px;
   }
   .green-text {
    font-size: 18px;
   }
  }

/* ====================================== About Mission ================================ */

.about_mission{
    text-align: left;
    padding: 30px 50px;
    font-size: 20px;
}
.about_mission .Istory{
    color: #24a845;
}
.about_mission .main-container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 10px;
}
.about_mission .box{
    background-color: #24a845;
    color: #dae1d7;
    padding: 20px;
    margin: 10px 5px;
    border-radius: 5px;
    box-shadow: 0 5px 25px -2px rgba(0, 0, 0, 0.101);
}
.about_mission .box:hover{
    background-color: #2abc4e;
}
.about_mission .box h3{
    color: #fff;
    border-left: 2px solid white;
    padding-left:10px
}
@media screen and (max-width:500px){
    .about_mission .box{
        text-align: center;
    }
    .about_mission .box h3 {
            border:none;
            padding: none;
            padding-bottom: 10px;
            border-bottom: 2px solid white;
            text-align: center;
        }
}